<div
  class="profile flex flex-col gap-5 w-[400px] min-h-screen bg-light-white"
>
  <div class="flex flex-col gap-5 p-5 border-b-[1px]">
    <div class="flex justify-between items-center">
      <span class="text-3xl font-medium font-comic">My Profile</span>
      <mat-icon class="cursor-pointer">more_vert</mat-icon>
    </div>
    <div class="profile-image flex flex-col items-center gap-2">
      <div class="rounded-full w-30 h-30 overflow-hidden">
        <img
          src="assets/img/profile-circle.png"
          alt=""
          style="width: 120px; height: 120px"
        />
      </div>
      <span class="font-medium">ADMIN</span>
      <div class="flex items-center gap-3">
        <div class="w-3 h-3 rounded-full bg-green-500"></div>
        <span>Active</span>
      </div>
    </div>
  </div>
  <div class="p-5 flex flex-col gap-5">
    <div class="text-faded text-[16px] ">
      If several languages coalesce, the grammar of the resulting language is
      more simple and regular than that of the individual.
    </div>
    <div class="">
        <!-- need to make accordion -->
    </div>
  </div>
</div>
